* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #aedef3;
}

/* body { */
X
/* min-height: 100vh;
  margin: auto; */
/* } */

/* landing page */

#landing-container {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('./media/landing_page_background.svg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.landing-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 5vh;
}

.card-landing {
  width: 18rem;
  margin: 0 10px;
}

.card-landing img {
  border-radius: 10%;
}

/* memory game */
.memory-main {
  font-family: 'Open Sans', sans-serif;
  background-image: url("./media/activity_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vw;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.memory-container {
  margin: 5vh;
}

.memory-container > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.memory-card {
  /* margin: 10px; */
  cursor: pointer;
  gap: 20px;
}

.card-image {
  height: auto;
  width: 10vw;
  border-radius: 5px;
    height: 13vw;
    background-image: url('./media/memory-backside.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    display: flex;
    justify-content: center;
    padding-bottom: 25%;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.memory-game-image {
  height: 70%;
  margin-top: 20%;
  object-fit: contain;
}

/* activity 01 */

#content-activity {
  font-family: 'Open Sans', sans-serif;
  background-image: url("./media/activity_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vw;
  min-height: 100vh;
  width: 100vw;
  max-width: 1800px;
  max-height: 1260px;
}

.container-left {
  float: left;
  width: 40%;
  margin-top: 10%;
  /* margin-bottom: 20vh; */
  height: 70%;
  overflow: hidden;
  padding-left: 2%;

}

.container-left img {
  border-radius: 10%;
  width: 28%;
  vertical-align: unset !important;
  margin-right: 3%;
  margin-bottom: 2%;
}

.card2 {
  margin-top: 4vh;
  border-radius: 10%;
  /* height: 40vh; */
  /* max-height: 300px; */
  height: min(30vh, 300px);
  /* width: 40%;
  max-width: 250px; */
}

.activity1-3to6 {
  background-color: #D8EFF9;
  border: 2px solid #5A9DE9;
  border-radius: 20px;
  height: 20vh;
  margin-top: 2rem;
  width: auto;
}

.container-right {
  float: right;
  width: 60%;
  margin-top: 10%;
  /* margin-bottom: 20vh; */
  /* height: 70%; */
  overflow: hidden;
  padding-right: 2%;
  padding-left: 5%;
}

.instruction-en {
  color: #00A864;
  /* font-size: max(min(1vw, 26px), 20px); */
  font-size: max(min(1.6vw, 20px), 14px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.instruction-fr {
  color: #286FB5;
  /* font-size: max(min(1vw, 26px), 16px); */
  font-size: max(min(1.4vw, 18px), 12px);
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
}

figure {
  /* width: -moz-fit-content;
  width: fit-content;
  margin-left: 6vw; */
  width: 80%;
}

#proposed_answers div {
  text-transform: uppercase;
}

.btn-white,
.btn-white:hover {
  border-radius: 6px;
  border: 1.5px solid #FF7E0C;
  /* font-size: max(min(1vw, 26px), 18px); */
  font-size: max(min(1.5vw, 20px), 14px);
  background: #FFF;
  /* padding: 1em 3em 1em 3em; */
  display: flex;
  justify-content: center;
}

.modal-dialog {
  width: fit-content;
  width: -moz-fit-content;
}

.correct {
  border-radius: 6px;
  border: 1.5px solid #639454;
  font-size: max(min(1.5vw, 20px), 14px);
  background: #80BF6C;
  display: flex;
  justify-content: center;
}

.incorrect {
  border-radius: 6px;
  border: 1.5px solid #C1393B;
  font-size: max(min(1.5vw, 20px), 14px);
  background: #E04245;
  display: flex;
  justify-content: center;
}

/* activity 04  */
.btn-clear-blue,
.btn-clear-blue:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #524961;
  border-radius: 6px;
  border: 1.5px solid #5A9DE9;
  font-size: max(min(1.2vw, 15px), 10px);
  padding: 0.75rem 0.5rem;
  display: flex;
  justify-content: center;
  /* max-width: 100px; */
  width: 75px;
}

.activity4-3to6 {
  background-color: #D8EFF9;
  border: 2px solid #5A9DE9;
  border-radius: 10px;
  height: 20vh;
  min-height: 125px;
  margin-top: 2rem;
  width: 100%;
}

.activity4-3to6 img {
  /* max-height: 100%; */
  /* max-width: 100%; */
  /* height: 80%; */
  width: auto;
}

.form-control {
  /* width: 100px; */
  width: 75px;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.form-control:disabled {
  background-color: white;
}

/* buttons navigation */
.btn-blue,
.btn-blue:hover {
  background-color: #5A9DE9;
  color: white;
  font-weight: bold;
  font-size: max(min(1.3vw, 18px), 12px);
  border: 1.5px solid white;
  border-radius: 3px;
}

@media only screen and (max-width: 940px) {

  /* .container-right,
  .container-left {
    margin-top: 20vh;
  } */

  /* .card2 {
    width: 50%;
  } */
  .container-right {
    padding-left: 2%;
  }

  .card2 {
    height: 40vh;
  }

  .btn-white {
    /* padding: 0.4em 2.2em 0.4em 2.2em; */
  }
}


/* ORIENTATION WARNING */
#orientationWarning {
  background-image: url(./media/activity_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

@media (orientation: landscape) {
  #orientationWarning {
    display: none !important;
  }

  main {
    display: block !important;
  }
}

@media (orientation: portrait) {
  #orientationWarning {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  main {
    display: none !important;
  }

  /* #main {
    background-image: url('./img/homescreen_portrait.png') !important;
  } */
}